<div class="wrapper">
    <div class="container">

      <div class="buttonRow row">
          <div class="col">
            <input type="text" class="datepicker button" #date1>     
          </div>
          <div class="col">
            <input type="text" class="datepicker button" #date2>
          </div>
          <div class="col">
            <button type="submit" class="button" (click)='onSubmit(date1.value, date2.value)'>Search</button>
          </div>
          <div class="col">
            <button class="button">Take a Pic</button>
          </div>
      </div>
      <div *ngIf="notification" ><a href="./display" class="btn btn-default">Press</a></div>
      <div *ngIf="!notification" class="display">
        <ul *ngIf="pictures">
          <li class="row" *ngFor="let picture of pictures">
            <div class="col">
            <img src="https://housesecurity.azurewebsites.net/api/picture/get?picturename={{picture.pictureName}}" height="270px" width="360px">
            </div>
            <div class="col">
              <div class="row"><p>Date: {{picture.timestamp}}</p></div>
              <div class="row"><p>Link: <a href="https://housesecurity.azurewebsites.net/api/picture/get?picturename={{picture.pictureName}}">Click Here</a></p></div>
            </div>
          </li>
        </ul>
        <h4 *ngIf="!pictures" class="center">Loading...</h4>
        <h4 *ngIf="empty" class="center">Sorry no pictures today</h4>
      </div>
        
        <div class="display">
          <ul [innerHtml]="htmlToAdd"></ul>
        </div>

      </div>
    
</div>